body {
  margin: 0;
  font-family: "Lucida Grande";
  box-sizing: border-box;
}
.title h2 {
  color: #0f8b8d;
  font-size: 48px;
}

.title p {
  font-size: 28px;
}
header {
  background-color: #0f8b8d;
  align-items: center;
  text-align: center;
  padding: 50px;
  display: flex;
  flex-direction: row;
  column-gap: 500px;
}

.logo img {
  width: 400px;
  height: 60px;
}

.header-right ul {
  color: white;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  column-gap: 100px;
}

/* item */
main {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 100px;
  row-gap: 50px;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 50px;
  column-gap: 150px;
}

.item-list img {
  height: 237px;
  width: 237px;
}

.item {
  background-image: url("asset/Photo\ Materials/Coffee background.png");
  background-size: cover;
  border-radius: 10px;
}

/* footer */

footer {
  align-items: center;
  text-align: center;
  padding: 40px;
  background-color: #143642;
  display: flex;
  flex-direction: row;
  column-gap: 200px;
}

footer p {
  color: #ec9a29;
}

.footer-right {
  display: flex;
  column-gap: 100px;
  text-align: center;
}

ul li {
  list-style: none;
  text-align: center;
  color: white;
}
