body {
  margin: 0;
  font-family: "Lucida Grande";
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
.title h2 {
  color: #0f8b8d;
  font-size: 48px;
}

.title p {
  font-size: 20px;
  color: #143642;
  text-align: center;
}
header {
  background-color: #0f8b8d;
  align-items: center;
  text-align: center;
  padding: 50px;
  display: flex;
  flex-direction: row;
  column-gap: 500px;
}

.logo img {
  width: 400px;
  height: 60px;
}

.header-right ul {
  color: white;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  column-gap: 100px;
}

.header-right a {
  color: white;
  list-style: none;
}

/* menu*/
.section {
  text-align: center;
  align-items: center;
  margin: 50px 200px;
  row-gap: 50px;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 50px;
  column-gap: 150px;
}

.item-list img {
  height: 150px;
  width: 150px;
}

.item {
  background-image: url("asset/Photo\ Materials/Coffee background.png");
  background-size: cover;
  border-radius: 10px;
  height: 237px;
  width: 237px;
}

.price {
  color: white;
  text-decoration: none;
}
.price p {
  text-align: center;
  color: white;
}

.price h3 {
  padding-top: 10px;
}

.item-list img:hover {
  height: 200px;
  width: 200px;
  position: relative;
  bottom: 100px;
}

/* footer */

footer {
  align-items: center;
  text-align: center;
  padding: 40px;
  background-color: #143642;
  display: flex;
  flex-direction: row;
  column-gap: 200px;
}

footer p {
  color: #ec9a29;
}

.footer-right {
  display: flex;
  column-gap: 100px;
  text-align: left;
}

.footer-right ul {
  list-style: none;
  text-align: center;
  color: white;
}

.footer-right p {
  text-align: center;
}

/* store */

.store {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 20px;
}

.sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 150px;
}

.address-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.address {
  width: 400px;
  height: 150px;
  border: 1px solid black;
}

.address h3,
p {
  text-align: left;
  padding-left: 20px;
  color: #143642;
}

.map {
  padding-top: 100px;
}

.mapouter-2 {
  display: none;
}

.mapouter-3 {
  display: none;
}

/* contact */
.contact {
  align-self: flex-start;
}

.holder {
  display: flex;
  flex-direction: row;
}

.form {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin-left: 100px;
  border-radius: 20px;
}

.howcan {
  text-align: left;
  padding-left: 100px;
}

input {
  border-radius: 10px;
}

.holder {
  padding-top: 20px;
  padding-left: 50px;
  column-gap: 50px;
}

.holder p {
  width: 150px;
  font-family: Lato;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #143642;
}

.holder input {
  padding: 0 30px;
}
.message {
  height: 200px;
}
button {
  width: 335px;
  height: 70px;
  font-style: Lato;
  font-weight: 400px;
  line-height: 28.8px;
  background-color: #a8201a;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  cursor: pointer;
  width: 200px;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  margin: 50px auto;
}

/* detail-page */

.detail {
  display: flex;
  flex-direction: row;
  column-gap: 100px;
  margin-right: 100px;
  margin-top: 20px;
}

.text {
  display: flex;
  flex-direction: column;
}

.detail h2 {
  color: #0f8b8d;
  font-family: Lato;
  font-size: 48px;
  font-weight: 800;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
}

.detail p {
  color: #143642;
  font-family: Lato;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.description button {
  width: 300px;
}

.description {
  align-items: start;
  text-align: left;
}

.description p {
  font-size: 24px;
}

.description h2 {
  color: #0f8b8d;
  font-family: Lato;
  font-size: 36px;
  font-weight: 500;
  border-bottom: 3px solid #ec9a29;
  width: 200px;
}
